<!-- its goes to next page from where updte job  -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Jobs</title>
</head>
<body>
<h2>Jobs Posted by [[${company.name}]]</h2>

<table border="1">
    <tr>
        <th>Title</th>
        <th>Location</th>
        <th>Type</th>
        <th>Salary</th>
        
    </tr>
    <tr th:each="job : ${jobs}">
        <td th:text="${job.title}"></td>
        <td th:text="${job.location}"></td>
        <td th:text="${job.type}"></td>
        <td th:text="${job.salary}"></td>
        
    </tr>
</table>

<br>
<a href="/company/post-job">Post New Job</a> |
<a href="/company/Comhome">Back to Dashboard</a>

</body>
</html>
