<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Profile</title>
    <meta charset="UTF-8">
</head>
<body>

<h2>Edit Profile</h2>

<form th:action="@{/profile}" th:object="${user}" method="post">
    <p>Full Name: <input type="text" th:field="*{fullName}" required /></p>
    <p>Email: <input type="email" th:field="*{email}" required /></p>
    <p>Password: <input type="password" th:field="*{password}" required /></p>
    <p>Mobile: <input type="text" th:field="*{mobile}" required /></p>
    <p>Education: <input type="text" th:field="*{education}" required /></p>
    <p>Experience: <input type="text" th:field="*{experience}" required /></p>
    <p>Skills: <input type="text" th:field="*{skills}" required /></p>
   <label>Upload Resume:</label>
        <input type="file" name="resume" accept=".pdf,.doc,.docx"><br><br>

        <label>Upload Photo:</label>
        <input type="file" name="photo" accept="image/*"><br><br>

    <button type="submit">Update</button>
</form>

<p th:if="${success}" th:text="${success}" style="color: green;"></p>

<a href="/home">Back to Home</a>

</body>
</html>
